<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="testdb" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=LasyTests;Integrated Security=SSPI;"/>
    <add name="mysqldb" connectionString="Server=localhost;Database=lasytest;Uid=lasy;Pwd=abc123;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
